<%= form_with model: @task, url: task_path(@task.id), method: :patch  do |f| %>

  <h2>Edit Task Form</h2>

  <%= f.label :action %>
  <%= f.text_field :action %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :completion_date %>
  <%= f.date_field :completion_date %>

  <%= f.submit "Submit edit" %>
<% end %>
