<h2>Tasks</h2>
<ul >
  <% @tasks.each do |task| %>
  <li >
    <strong>
      Action: <%= task.action.capitalize %>
    </strong>
    <section class="line">
      <%= link_to "(View details)", task_path(task.id) %>
      <%= button_to "(Mark complete)", complete_task_path(task.id), method: :patch%>
      <%= link_to "(Delete)", task_path(task.id), method: :delete, data: { confirm: "You sure?" }%>
    </section>
  </li>
  <% end %>

  <div>
    <%= link_to "(Add new book)", new_task_path %>
  </div>


</ul>
