<h2>Task Details</h2>
<p>
  <strong>Action:</strong>
  <%= @task.action %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Completion date:</strong>
  <%= @task.completion_date %>
</p>
<%= link_to "(Edit #{@task.action})", edit_task_path(@task.id) %>
<%= link_to "(Go Back to All Tasks)", tasks_path %>
